body {
    background: #ec704c;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.image img {
    height: 500px;
}
.header {
    height: 100px;
    width: 250px;
    text-align: center;
}
a {
    height: 50px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}