* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #171717;
    color: white;
}
.title {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile {
    height: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
img {
    height: 100px;
    border-radius: 50%;
}
.sub-stat {
    height: 150px;
    width: 90%;
    background-color: #2a2a2a;
    border-radius: 17px;
    margin-left: 20px;
    margin-top: 35px;
    margin-bottom: 35px;
}
ul {
    margin-left: 20px;
    list-style: none;
    font-size: 20px;
}
li {
    margin-bottom: 15px;
}
.logout {
    position: absolute;
    bottom: 50px; /* Adjusted padding to allow space for navbar */
    left: 50%;
    transform: translateX(-50%); /* Centers horizontally */
    width: auto; /* Set width to auto to avoid full width */
}
a {
    color: #2a2a2a;
    font-size: 20px;
}