* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #171717;
    color: white;
}
.create {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}
.create h1 {
    margin-bottom: 40px;
}
form {
    width: 70%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input {
    height: 50px;
    width: 100%;
    background-color: #2a2a2a;
    border-radius: 15px;
    padding: 20px;
    color: white;
    border: none;
}
button {
    height: 50px;
    border-radius: 15px;
}
.sign {
    margin-top: 100px;
    font-size: 16px;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
a {
    color: #505050;
    font-size: 20px;
    text-decoration: none;
}