.tabbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 95%;
    height: 60px;
    margin: 0 8px 20px;
    background: rgba(128, 128, 128, 0.418);
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

.tab {
    height: 35px;
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 20%;
}

.tab i {
    position: absolute;
    transition: opacity 0.3s ease;
}

.tab .material-icons {
    opacity: 0;
}

.tab .material-icons-outlined {
    opacity: 1;
}

.tab.active .material-icons {
    opacity: 1;
    color: #007AFF;
}

.tab.active .material-icons-outlined {
    opacity: 0;
}
