.tabbar {
    width: 95%;
    height: 60px;
    margin: 60px auto 20px;
    background: rgba(128, 128, 128, 0.418);
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 20%;
}

.tab.active {
    color: #007AFF;
}

/* Hide the filled icons by default */
.material-icons {
    display: none;
    font-size: 30px;
}

/* Show the outlined icons by default */
.material-icons-outlined {
    display: block;
    font-size: 30px;
}

/* When tab is active, show filled icons and hide outlined ones */
.tab.active .material-icons {
    display: block;
}

.tab.active .material-icons-outlined {
    display: none;
}
