body {
    background-color: #dbc1fe;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
img {
    height: 380px;
    width: 380px;
    margin-bottom: 20px;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
}
.btns {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
button {
    height: 45px;
    width: 250px;
    border-radius: 20px;
    border: none;
}